---
import Layout from "../Layouts/Layout.astro";
import { Image } from "astro:assets";

const fetchData = async () => {
  try {
      const response = await fetch(`${process.env.BASE_URL}/contentful-fetch?content_type=bioSection`);
       const data = await response.json();
      return data;
  } catch (error) {
    console.error('Error fetching data:', error);
    return [];
  }
};

const contentfulData = await fetchData();
---
<Layout>
    <h1 class="text-8xl font-extrabold font-playfair-display uppercase">Bio</h1>
    <div>
        <ul>
            {contentfulData.map((bioSection: any, index: number) => (    
                <>
                    <li class={`flex flex-col ${index % 2 == 0 ? "md:flex-row-reverse" : "md:flex-row"}`}>
                        <Image
                        class="w-full md:w-1/2 max-h-96 object-top object-cover"
                        src={`https:${bioSection.fields.image.fields.file.url}`}
                        width={bioSection.fields.image.fields.file.details.image.width}
                        height={bioSection.fields.image.fields.file.details.image.height}
                        alt="This is an image"
                        />
                        <p class="md:w-1/2 py-4 place-self-center md:px-4">{bioSection.fields.paragraph}</p>
                    </li>
                </>
            ))}
        </ul>
    </div>
</Layout>