---
import { Image } from "astro:assets";
import tylerFrontLong from '../images/tylerFrontLong.jpg'
import Layout from "../Layouts/Layout.astro"

const valueStatements = ["Orchestra", "Jazz", "Chamber", "Lead", "Teaching", "Solo"]
// Use single quotes on the outside 'Like this'
const quote = '"Lorem ipsum and a bunch of other stuff in a quote." - Person'
---
<Layout>
		<div class="grid grid-cols-1 md:grid-cols-3">
			<div class="p-8 text-8xl 2xl:text-9xl text-gray-400 blur-sm select-none hidden h-screen md:block">
				<ul class="h-full flex flex-col justify-evenly font-extrabold uppercase drop-shadow-lg">
					{valueStatements.map(statement => (
						<li>{statement}</li>
					))}
				</ul>
			</div>
			<div class="h-screen z-10 relative">
				<div class="overlay h-full w-full z-20 bg-black/25 absolute">
				</div>
				<div class="h-full shadow-black shadow-lg">
					<h1 class="absolute h-full w-full flex flex-col justify-center text-white z-30 text-8xl font-bold">
						<span class="span1">Tyler</span>
						<span class="self-end">Helms</span>
					</h1>
					<Image
						class="h-full object-cover" 
						src={tylerFrontLong}
						width={tylerFrontLong.width}
						height={tylerFrontLong.height}
						alt="Tyler in front of a lake"
					/>
				</div>
				</div>
			<div class="h-screen flex items-center italic p-8">
				<p>{quote}</p>
			</div>
		</div>
</Layout>