---
import Layout from "../Layouts/Layout.astro";
import { Image } from "astro:assets";

const fetchData = async () => {
  try {
      const response = await fetch(`${process.env.BASE_URL}/contentful-fetch?content_type=portfolioSection`);
       const data = await response.json();
      return data;
  } catch (error) {
    console.error('Error fetching data:', error);
    return [];
  }
};

const contentfulData = await fetchData();

console.log(contentfulData[0]);
---
<Layout>
    <h1 class="text-5xl md:text-8xl uppercase font-extrabold font-playfair-display">Portfolio</h1>
    <div class="py-4">
    {contentfulData.sort((a: any,b: any) => a.fields.position - b.fields.position).map((item: any, index: number) => (
      <div class="py-4 border-b-2 border-gray-300">  
        <h2 class="text-5xl pb-4 md:text-8xl font-playfair-display">{item.fields.title}</h2>
        <div class="flex flex-col">
          <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-8">
            {item.fields.images && item.fields.images.map((item: any) => (
              <Image 
              src={`https:${item.fields.file.url}`}
              width="500"
              height="500"
              alt="image"
              />
              ))}
              </div>
              <p class="w-full md:w-1/2 pr-4 pt-4 pb-4">{item.fields.paragraph}</p>
              <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
                {item.fields.videosList && item.fields.videosList.map((item: string) => (
                  <iframe class="max-w-full" width="560" height="315" src={item} title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                ))}
              </div>
        </div>
      </div>
    ))}
    </div>
</Layout>